@model aspnet_core_mvc_bootstrap_switch.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section class="container-fluid">
    <div class="form-group">
        <label for="form-visibility-cb">Display Form ?</label>
        <input id="form-visibility-cb" type="checkbox" name="form-visibility-cb" checked>
    </div>
    <hr/>
    <form id="detail-form">
        <div class="form-group">
            <label for="full-name-input">Fullname</label>
            <input id="full-name-input" class="form-control" type="text" name="fullname">
        </div>
        <div class="form-group">
            <label for="occupation-input">Occupation</label>
            <select class="form-control" id="occupation-input"
                    data-bind="select2: { data: Occupations() }">
                @*data-bind="options: Occupations,
                           optionsText: 'name',
                           value: SelectedOccupation">*@
                
                <!-- <optgroup data-bind="text: name"></optgroup> -->
                <!-- <optgroup label="IT/Software Development">
                    <option value="SE">Software Engineer</option>
                    <option value="DE">Devops Engineer</option>
                    <option value="NSE">Network Security Engineer</option>
                    <option value="TE">Test Engineer</option>
                </optgroup>
                <optgroup label="Healthcare/Medical">
                    <option value="MD">Doctor of Medicine</option>
                    <option value="GS">General Surgery</option>
                    <option value="NS">Neurosurgey</option>
                    <option value="CS">Cardiothoracic Surgery</option>
                </optgroup> -->
            </select>
        </div>
    </form>
</section>
@section scripts{
<script src="~/lib/select2/4.0.0/select2.full.js"></script>
<script type="text/javascript">
    var model = @Html.Raw(@Json.Serialize(@Model))
    console.log(`[debug] model=\n`, model);
    var homeViewModel = new HomeViewModel(model);
    ko.applyBindings(homeViewModel);
</script>
}