@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section class="container-fluid">
    <div class="form-group">
        <label for="form-visibility-cb">Display Form ?</label>
        <input id="form-visibility-cb" type="checkbox" name="form-visibility-cb" checked>
    </div>
    <hr/>
    <form id="detail-form">
        <div class="form-group">
            <label for="full-name-input">Fullname</label>
            <input id="full-name-input" class="form-control" type="text" name="fullname">
        </div>        
    </form>
</section>